/* Write the CSS for you answer here */

#container {
    position: absolute;
    width: 600px;
    margin: auto;
    background-color: goldenrod;
    z-index: 0;
}

.full-size {
    width: 100%;
    position: absolute;
    z-index: 0;
}
#background {
    z-index: 0;
}

#tree {
    top: 100px;
    z-index: 5;
    pointer-events: none;
}

.beginAnimation {
    position: absolute;
    z-index: 6;
    animation-name: fall-down;
    animation-duration: 3s;
    animation-play-state: paused;

}

@keyframes fall-down {
    10% {
        top: 200px;
    }
    100% {
        top: 400px;
    }
}

#blue {
    left: 500px;
    top: 320px;
    z-index: 2;
}

#darkblue {
    left: 360px;
    top: 180px;
}

#green {
    left: 450px;
    top: 200px;
}

#pink {
    left: 100px;
    top: 250px;
}

#red {
    left: 200px;
    top: 200px;
}

#orange {
    left: 300px;
    top: 280px;
}

